@import "/base.css";

#gallery .page-heading {
    background: url('/media/page-banners/about.jpg');
    background-size: cover;
    background-position: center;
}

#gallery .page-heading .page-title {
    background: var(--black);
    color: var(--accent);
}

.content-block {
    width: 100vw;
    padding: 80px var(--tight-margin);
    text-align: left;
}

.content-block .photos {
}

.content-block .photos #right {
    margin-left: 400px;
}

.content-block .photos img {
    width: 50%;
}