@import "/base.css";

:root {
  --fs-teal: #6EA0B7;
  --fs-teal-glow: #86BAD5;
  --fs-yellow: #D7C43F;
  --fs-yellow-glow: #DCDAB2;
  --fs-navy: #152744;
}

#fashion-show {
  font-family: 'Futura PT', 'Futura', 'Futura Std', 'IBM Plex Sans', sans-serif;
}

.fashion-show-banner {
  position: relative;
  width: 100vw;
  height: 500px;
  padding-top: 38px;
  background-image: url('/media/fashion-show/banner.png');
  background-size: cover;
  background-position: center;
  text-align: left;
  box-shadow: 0 0 6px 0 var(--black);
  z-index: 2;
}
.fashion-show-banner .banner-text {
  text-align: center;
  font-size: 20px;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 2px var(--fs-teal-glow);
}
.fashion-show-banner .fashion-show-logo {
  margin-top: calc(220px - 15vw);
  text-align: center;
}
.fashion-show-banner .fashion-show-logo img {
  width: 80vw;
  max-width: 1200px;
}
@media screen and (max-width: 800px) {
  .fashion-show-banner .fashion-show-logo img {
    width: 90vw;
  }
}

.info-block {
  position: relative;
  padding: 20px 0 40px;
  background-color: var(--fs-navy);
  z-index: 1;
}
.info-block .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.info-block .date .left, .date .right {
  padding-top: 32px;
  font-size: 36px;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 2px var(--fs-teal-glow);
}
.info-block .date .middle {
  margin: 0 60px;
  font-size: 72px;
  color: var(--fs-navy);
  text-shadow:
    0 0 3px var(--fs-yellow-glow),
    1px 1px 2px var(--fs-yellow),
    -1px 1px 2px var(--fs-yellow),
    1px -1px 2px var(--fs-yellow),
    -1px -1px 2px var(--fs-yellow);
}
.info-block .event-intro {
  margin-bottom: 40px;
  padding: 0 var(--tight-margin);
  text-align: center;
  font-size: 20px;
  color: var(--fs-teal-glow);
}
.info-block .event-links .event-link {
  display: block;
  width: 350px;
  padding: 10px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 20px;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 1px var(--fs-teal-glow);
  box-shadow:
    0 0 2px 1px var(--fs-teal-glow);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 20px;
}
.info-block .event-links .event-link:hover {
  color: var(--fs-yellow);
  text-shadow: 0 0 2px var(--fs-yellow);
  box-shadow:
    0 0 2px 1px var(--fs-yellow-glow);
}
@media screen and (max-width: 800px) {
  .info-block .date .left, .date .right {
    padding-top: 28px;
    font-size: 28px;
  }
  .info-block .date .middle {
    margin: 0 50px;
    font-size: 56px;
  }
  .info-block .event-intro {
    font-size: 16px;
  }
  .info-block .event-links .event-link {
    width: 250px;
    font-size: 16px;
  }
}

.content-block {
  width: 100vw;
  padding: 80px var(--tight-margin);
  background-color: var(--white);
  background-image: url('/media/fashion-show/linebg.png');
  background-size: cover;
  background-position: center;
  text-align: left;
}
.content-block .content {
  background-color: var(--white);
}
.content-block .content span {
  font-family: 'Futura PT', 'Futura', 'Futura Std', 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: var(--fs-navy);
}
.content-block .content a {
  text-decoration: underline !important;
  color: var(--fs-navy);
}

.designer-block {
  width: 100vw;
  padding: 80px var(--tight-margin);
  background-color: var(--fs-navy);
  text-align: left;
}
.designer-block .section-heading {
  margin-bottom: 80px;
  text-align: center;
  font-family: 'Futura PT', 'Futura', 'Futura Std', 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 2px var(--fs-teal-glow);
}
.designer-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.designer-grid .designer {
  width: 200px;
  margin: 0 20px 20px;
  cursor: pointer;
}
.designer-block .designer .portrait {
  height: 240px;
  margin-bottom: 15px;
  box-shadow: 0 0 2px 0 var(--fs-teal-glow);
}
.designer-block .designer .name {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 2px var(--fs-teal-glow);
}
.designer-block .designer:hover .portrait {
  box-shadow: 0 0 2px 0 var(--fs-yellow-glow);
}
.designer-block .designer:hover .name {
  color: var(--fs-yellow-glow);
  text-shadow: 0 0 2px var(--fs-yellow-glow);
}

.designer-modal {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.designer-modal.active {
  opacity: 1;
}
.designer-modal .modal-backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--black);
  opacity: 0.5;
}
.designer-modal .modal-content {
  position: fixed;
  width: calc(100vw - 2 * var(--tight-margin));
  min-height: 240px;
  margin: 50px var(--tight-margin);
  padding: 20px;
  background-color: var(--white);
  z-index: 2;
}
.designer-block .designer .name {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--fs-teal-glow);
  text-shadow: 0 0 2px var(--fs-teal-glow);
}
.designer-modal .modal-content {
  display: flex;
  flex-direction: row;
}
.designer-modal .modal-content .portrait-frame {
  margin-right: 40px;
}
.designer-modal .modal-content .portrait-frame .portrait {
  width: 200px;
  height: 240px;
  box-shadow: 0 0 2px 0 var(--fs-teal-glow);
}
.designer-modal .modal-content .right {
  display: flex;
  flex-direction: column;
  min-height: 195px;
}
.designer-modal .modal-content .right .content {
  flex-grow: 1;
  padding-bottom: 20px;
  line-height: 28px;
  color: var(--fs-teal);
}
.designer-modal .modal-content .right .content a {
  color: var(--fs-teal-glow);
}

#fashion-show .footer {
  background-color: var(--black);
}
