@import "/base.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --fs-pink: rgba(226,163,231,.7);
    --fs-blue: rgba(151,217,231,.7);
    --fs-purple: rgba(187,148,232,.7);
    --fs-hotPink: #c31ab2;
    --fs-mauve: #7E4D5E;
    --fs-dustyGrey: #72698E;
    --fs-dark: #373737;
}

/* element css */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: var(--fs-mauve);
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--fs-mauve);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--fs-mauve);
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: var(--fs-dustyGrey);
}

.r-ibm {
    font-style: normal;
}

/* ------------ */

#fs-title {
    margin: 15px 0;
}

#fs-title h1 {
    color: var(--fs-dark);
}

#fs-title h2 {
    font-size: 20px;
    font-style: italic;
}

#fashion-show-banner {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-70deg, var(--fs-pink) 0%, var(--fs-blue) 54%, var(--fs-purple) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fs-title h2 {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
} 

#fashion-show-banner p {
    text-align: center;
}

/* #video-overlay {
    position: absolute;
    width: 100vw;
    min-height: 100%;
    display: block;
    background-color: white;
    z-index: 2;
}

video {
    width: 80%;
   
}

#theme-reveal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
} */

#banner {
     width: 100vw;
}

#banner img {
    width: 100%;
}

#fs-info {
    width: 90%;
    min-height: 100%;
    padding: 25px 0;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

#fs-info p {
    margin-top: 10px;
}

#tickets {
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
}

#tickets-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#tickets-content div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#tickets-button {
    margin-top: 35px;
}

#tickets h1 {
    color: var(--fs-dark);
    text-align: center;
}

#tickets p {
    margin: -3px 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
}

#tickets a {
    width: 275px;
    text-align: center;
}

#exhibition {
    margin: 25px 0;
    padding: 30px;
    text-align: right;
}

#exhibition h1 {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 60px;
    text-align: left;
    color: var(--fs-dark);
}

#exhibition h3 {
    margin-bottom: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400; 
    text-align: left;
    color: black;
}

#des-spotlights {
    width: 100%;
    text-align: center;
    min-height: 100%;
    padding: 30px 0;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(70deg,rgba(226,163,231), rgba(151,217,231), rgba(187,148,232));
}

#des-spotlights a:hover {
    cursor: pointer;
    padding: 10px 40px;
    border: 2px solid transparent;
    background-color: white;
    color: var(--fs-mauve)
}

@keyframes flow {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  
#des-spotlights a {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 56px;
}

#fads {
    margin: 15% 0;
    min-height: 100%;
    text-align: center;
    padding: 0 55px;
}

#fs2021 {
    margin-top: 35px;
    align-items: center;
}

.fs-button {
    width: fit-content;
    border: 1px solid black;
    background: transparent;
    padding: 10px 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: var(--fs-dark);
}

.fs-button:hover {
    border: 1px solid transparent;
    background: linear-gradient(50deg, var(--fs-pink) 0%, var(--fs-purple) 100%);
}

#trailer-btn {
    margin: 30px 0;
}

#trailer-btn:hover {
    background-color: var(--fs-bgWhite);
    color: var(--fs-dark);
}

/* FAQ section */

.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
    margin: 35px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line{
  width: 70%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    cursor: pointer;
    padding: 25px 20px;
    width: 70%;
    border: none;
    outline: none;
    margin: auto;
}
.faq-body{
    margin: auto;
    width: 70%; 
    padding: auto;  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq-page:hover {
    background-color: var(--fs-blue);
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    color: #777;
    float: right;
    padding: 0 10px;
    /* margin-left: 5px; */
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* --------------- */

@media screen and (min-width: 800px) {

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 22px;
    }

    #fs-title {
        margin: 25px 0;
    }

    #fashion-show-banner {
        min-height: 0;
    }

    #banner {
        display: flex;
        justify-content: center;
    }

    #banner img {
        width: 80%;
        content: url("../media/fashion-show-2022/web-banner.svg");
    }

    #fs-prices {
        margin: 30px 0 15px 0;
    }

    #fs-prices h2 {
        font-weight: 500;
        font-size: 32px;
    }

    #fs-info {
        margin: 25px 0;
        padding: 30px 0 15px 0;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        min-height: 100%;
    }

    #tickets {
        flex-direction: column;
        justify-content: center;
    }

    #tickets-content {
        flex-direction: row;
        justify-content: center;
    }

    #tickets h1 {
        text-align: center;
    }

    #main-content {
        margin: 0;
        background: url("../media/fashion-show-2022/prism-left.png");
        background-repeat: no-repeat;
        background-position: left 400px;
    }

    #exhibition {
        margin: 0;
        padding-right: 15%;
        background: url("../media/fashion-show-2022/ex-right.png");
        background-repeat: no-repeat;
        background-position: right 150px;
        background-size: 450px 900px;
    }

    #showtimes, #ex-hours {
        display: flex;
        justify-content: right;
        gap: 50px;
    }

    #ex-hours {
        flex-direction: column;
        gap: 0px;
    }

    #ex-hours p {
        margin: 15px;
    }

    #exhibition {
        margin-left: 5%;
    }

    #ex-info {
        margin-right: 5%;
    }

    #location {
        margin-right: 100px;
    }
    
    #hours {
        margin-right: 200px;
    }
    
    #des-spotlights h2 {
        font-size: 72px;
    }

    #fads {
        margin-left: 40%;
        margin-top: 25px;
        margin-bottom: -10px;
        text-align: left;
        padding: 55px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 40px;
    }

    p {
        font-size: 24px;
    }
    
    #fs-title {
        margin: 35px 0;
    }

    #fs-title h1 {
        font-size: 84px;
    }

    #fs-title h2 {
        font-size: 36px;
    }

    #fs-prices {
        flex-direction: row;
        justify-content: center;
        gap: 8%;
    }

    #fs-info p {
        margin-top: 15px;
    }

    #main-content {
        background-position: left 50px;
    }

    #ex-hours {
        flex-direction: row;
        gap: 50px;
    }

    #ex-hours p {
        margin: 20px;
    }

    #exhibition {
        background-position: right 0%;
        background-size: 425px 890px;
    }

    #exhibition h1 {
        font-size: 86px;
    }

    #location {
        margin-right: 100px;
    }
    
    #hours {
        margin-right: 200px;
    }

    #fads {
        margin-left: 30%;
    }

    #fs2021 {
        height: 75px;
    }
}