@import "/base.css";

:root {
    --fs-pink: rgba(226,163,231,1);
    --fs-blue: rgba(151,217,231,1);
    --fs-purple: rgba(187,148,232,1);
    --fs-hotPink: #c31ab2;
    --fs-bgWhite: rgb(235, 251, 254);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 175px;
    letter-spacing: 20px;
    color: white;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--fs-hotPink);
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

#fashion-show-banner {
    width: 100vw;
    height: 1000px;
    background: linear-gradient(-70deg, var(--fs-pink) 0%, var(--fs-blue) 54%, var(--fs-purple) 100%);
}

video {
    width: 90%;
    height: auto;
    z-index: 2;
}

#theme-reveal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-section {
    width: 100vw;
    height: 80vh;
    position: relative;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 1;
}

#title h2 {
    margin-top: 50px;
    background-color: var(--fs-bgWhite);
    padding: 10px 20px;
}

#mannequins {
    opacity: 50%;
    width: 850px;
    height: 650px;
    background-image: url("../media/fashion-show-2022/mannequins.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-wrapper {
    /* position: relative; */
    margin: 20px 50px 0 50px;
    height: 250px;
    background-color: white;
    opacity: 40%;
}

#fs-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 200px;
    opacity: 100%;
}

#content-block {
    margin: 25px 18%;
    text-align: center;
}

#des-spotlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    
    background: linear-gradient(70deg, var(--fs-pink) 0%, var(--fs-blue) 54%, var(--fs-purple) 100%);
}
  
#des-spotlights h2 {
    margin: auto;
    color: white;
    text-align: center;
    font-size: 56px;
}

#fs2021 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#fs2021 a, #trailer-btn {
    margin: 50px 0;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 10px 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: black;
}

#fs2021 a:hover {
    border: 1px solid transparent;
    background: linear-gradient(50deg, var(--fs-pink) 0%, var(--fs-purple) 100%);
}

#trailer-btn:hover {
    background-color: var(--fs-bgWhite);
    color: black;
}

.breaker {
    height: 10px;
    background: linear-gradient(70deg, var(--fs-pink) 0%, var(--fs-blue) 54%, var(--fs-purple) 100%);
}

@media screen and (min-width: 800px) {
    
    #fs-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 225px;
        opacity: 100%;
    }

    h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 28px;
    }
    
    p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
    }

    #des-spotlights h2 {
        font-size: 84px;
    }
}

@media screen and (min-width: 1200px) {

    video {
        margin-top: 10px;
        width: auto;
        height: 95%;
    } 

    h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 36px;
    }

    #fs-info {
        opacity: 100%;
    }

    #fs2021 {
        height: 200px;
    }
}